.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 5%;
}

#cv-header {
    text-align: center;
    margin-bottom: 2rem;
}

.download-btn {
    font-size: 1.1rem;
    padding: 15px 30px;
    margin-top: 10px;
}

#cv-highlights h3 {
    border-bottom: 2px solid var(--accent-color);
    display: inline-block;
    margin-top: 1.5rem;
}

#cv-highlights ul {
    list-style-type: square;
    padding-left: 20px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 2rem 0;
}
